<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	">



	<context:property-placeholder
		location="classpath:ip.properties" />

	<!-- 引用dubbo服务 -->
	<dubbo:application name="e3-register" />
	<dubbo:registry protocol="zookeeper"
		address="192.168.1.128:2181" />

	<dubbo:reference
		interface="com.hzm.register.RegisterCheckInterface"
		id="registerCheckInterface" />

	<dubbo:reference
		interface="com.hzm.register.RegiterregisterInface"
		id="regiterregisterInface" />
	<dubbo:reference
		interface="com.hzm.register.LoginInterface" id="loginInterfaceImpl" />

	<context:component-scan
		base-package="com.hzm.register.web"></context:component-scan>

	<mvc:annotation-driven></mvc:annotation-driven>

	<mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/images/" mapping="/images/**"></mvc:resources>
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>



	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/user/check" />
			<mvc:exclude-mapping path="/remove/user/*" />
			<mvc:exclude-mapping path="/user/name/*" />
			<bean class="com.hzm.register.interceptor.UserInterceptor"
				id="userInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>


	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">

		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>


</beans>
